<!-- <h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<h1>Login</h1> -->
<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please Log in to start sharing and borrowing</h3>
			 			</div>
			 			<div class="panel-body">
			    		
			    		<%= form_tag '/login' do %>
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						Email: <%= text_field_tag :email %>	               
			    					</div>
			    				</div>
			    			</div>
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
					    			<div class="form-group">
					    				Password: <%= password_field_tag :password %>
					    			</div>
					    		</div>
					    	</div>
			    			<h4 class="text-center"><%= submit_tag "Submit" %></h4>
			    		<% end %>
			    		
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
