<div class="container">
	<div class="col-lg-12 text-center">

<% @users.each do |user| %>
 	<div class="col-lg-4 well">
 <p>
 	<%= image_tag user.avatar.url(:thumb) %>
	 <strong>Name:</strong> <%= link_to user.name, user %><br>
	 
 </p>
		 </div>
		<% end %>

		<button type="button" class="btn btn-default"><%= link_to "View all items", '/items' %></button>
	</div>
</div>
