<div class="container">
	<div class="col-lg-12 text-center well">
		<h3><%= @item.name %></h3>
		<p><%=  @item.description %></p>
	<%= button_to "Delete", @item, method: :delete , confirm: "Are you sure?" %>
	</div>

</div>

